body {
    font-family: 'Raleway', sans-serif;
    background-color: #222630;
}

.header {
    font-family: 'Rubik Glitch', cursive;
    color: white;
    font-size: 64px;
    font-weight: lighter;
}

.logo {

}