/* font styling for cell events */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

.heading {
    font-family: 'Rubik Glitch', cursive;
    font-size: 60px;
    font-weight: lighter;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    color: #5E47FF;
    font-family: 'Fredoka One', cursive;
}

.cell:nth-child(-n + 3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
} 

.game-status {
    color: #48FAFA;
}

.game-restart {
    background-color: #FF47E7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
}