body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
}

.heading {
    font-family: 'Rubik Glitch', cursive;
    font-size: 62px;
    font-weight: lighter;
}

.logo {

}